*.ipynb
*.pyc
.vs/
**/__init__.py
Pipfile
Pipfile.lock
.vscode/launch.json
.vscode/settings.json
.pylintrc
run_milk.py
run_non_milk.py
#
# RunInsemStatusIU.py
# RunMilkDataUpdate.py
# RunMilkFuncts.py
# RunMilkFuncts.py
# RunMilkFuncts.py
# RunInsemStatusIU.py
# DailyMilkRunner.py

