/* styles.css */

/* Set the width of the table */
.dash-table-container {
    width: 100%;
}

/* Style the table headers */
.dash-table-container .dash-header {
    background-color: #e11212;
    color: #d5d5b7;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/* Style the table cells */
.dash-table-container .dash-cell {
    background-color: #834b4b;
    color: #000;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Style the table rows */
.dash-table-container .dash-row {
    height: 150px;
    background-color: #da9d9d;
}

/* Style the table rows on hover */
.dash-table-container .dash-row:hover {
    background-color: #6e5151;
}

/* Style the table */
.dash-table {
    background-color: #c32424;
    border-collapse: collapse;
    width: 100%;
}

/* Style the table borders */
.dash-table, .dash-table th, .dash-table td {
    border: 1px solid #941037;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin rgb(232, 19, 19) solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

#module-dropdown.dash-dropdown {
    background-color: #5e3535; /* Example background color */
    color: #3fa363; /* Example text color */
    font-size: 24px; /* Example font size */
    padding: 2px; 
}

#rable-dropdown.dash-dropdown {
    background-color: #5e3535; /* Example background color */
    color: #b79898; /* Example text color */
    font-size: 24px; /* Example font size */
    padding: 2px; 
}